/*
 * FCMailer - 2017
 * Documentation
 *
 * StyleName:		main.css
 * Version: 3.2
 *
 * FC-Dev team
 * http://foodconnection.jp/
 *
 * Email:		trung.styles@gmail.com
 *
 */

::-webkit-scrollbar {
	background: #FEFEFE;
	width: 5px;
	height: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
::-webkit-scrollbar-track {
	background: #FEFEFE;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb {
	background: #D9D9D9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

::selection {
	color: #FEFEFE;
	background: #F3981D;
}
::-moz-selection {
	color: #FEFEFE;
	background: #F3981D;
}

body {
	color: #303030;
	font-size: 13px;
	font-family: Roboto, arial, tahoma, verdana, sans-serif, serif;
	letter-spacing: .01em;
	line-height: 1.4;
	background: #FEFEFE;
	min-width: 320px;
}

#container {
	margin: auto;
	padding: 20px;
	max-width: 1250px;
}

.section[id] {
	padding: 20px 0;
}
.section[id] + .section[id] {
	margin-top: 20px;
	border-top: 1px dashed #DFDFDF;
}

table {
	margin: auto;
	width: 100%;
	border: 1px solid #DFDFDF;
	border-spacing: 0;
	border-collapse: collapse;
}
table th {
	padding: 5px;
	color: #303030;
	background: #F3F3F3;
	border: 1px solid #DFDFDF;
}
table td {
	padding: 5px;
	color: #606060;
	border: 1px solid #DFDFDF;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
table hr {
	border: none;
	border-top: 1px dotted #E3E3E3;
}
table tr:hover td {
	background: #F9F9F9;
}
th.h-attr {
	width: 175px;
}
th.h-desc {
	width: 575px;
}
th.h-type {
	width: 125px;
}
th.h-default {
	width: 110px;
}
th.h-valid {
	width: 200px;
}
table.f-ttl th.h-attr {
	width: 200px;
}
table.f-ttl th.h-desc {
	width: 620px;
}
table.f-ttl th.h-type {
	width: 100px;
}
table.f-ttl th.h-default {
	width: 110px;
}
table.f-ttl th.h-valid {
	width: 180px;
}
table .tb-ttl {
	writing-mode: vertical-lr;
	display: block;
	padding: 5px;
	color: #909090;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	white-space: nowrap;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

code.attr {
	color: #303030;
	background: #F4F4F4;
}
code.t-string,
code.v-string {
	color: #009688;
	background: #F1F6F8;
}
code.t-string,
code.t-boolean {
	font-style: italic;
}
code.option,
code.v-null,
code.v-string,
code.v-boolean {
	font-weight: 600;
}
code.t-boolean,
code.v-boolean {
	color: #3F51B5;
	background: #F1F3F8;
}
code.option {
	color: #2196F3;
	font-weight: 600;
	background: #F1F5F8;
}

code > code {
	padding: 2px .5px;
}

pre {
	background: #FDFDFD;
	border: 1px solid #DFDFDF !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(155, 155, 155, .1);
	-moz-box-shadow: 0 0 2px 2px rgba(155, 155, 155, .1);
	-webkit-box-shadow: 0 0 2px 2px rgba(155, 155, 155, .1);
}

.italic {
	font-style: italic;
}
.bold {
	font-weight: 600;
}

.c-name {
	color: #FF9800;
}
.c-desc {
	color: #909090;
}
h2 {
	font-weight: 500;
}
h2 small {
	display: inline-block;
	margin-left: 30px;
	font-size: 75%;
	font-weight: 400;
	line-height: 1;
	position: relative;
	top: -1px;
}
h2 small:before {
	content: "";
	margin: auto;
	background: #AFAFAF;
	width: 15px;
	height: 1px;
	position: absolute;
	top: 0;
	left: -25px;
	bottom: 0;
}

.message {
	padding: 5px 10px;
	color: #858585;
	font-size: 12px;
	line-height: 1.5;
	background: #F9F9F9;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.message.info {
	color: #573A08;
	background: #FFFDF6;
	border-color: #FFEAAE;
}
.message.warn {
	color: #6E100A;
	background: #FFF8F7;
	border-color: #D04437;
}
.message.log {
	color: #0E566C;
	color: #276f86;
	background: #F8FFFF;
	border-color: #A9D5DE;
}

.row {
	display: table;
	width: 100%;
}
.col {
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
	width: 50%;
}

.e-visual {
	padding: 10px 0;
}
.e-visual > * {
	padding: 0;
	vertical-align: top;
}
.e-visual > .c-desc {
	margin-left: 15px;
}
.e-visual > .row {
	padding: 0 0 15px;
}
.e-visual > .row > .col {
	padding: 0;
}
.e-visual .do,
.e-visual .dont {
	padding: 15px;
	border: 3px solid #909090;
}
.e-visual pre {
	margin: 0;
}
.e-visual .caption {
	margin: 15px -15px -15px;
	padding: 5px 10px 2px;
	color: #FEFEFE;
	font-weight: 600;
	text-transform: uppercase;
	background: #909090;
}
.e-visual .do {
	margin-right: 5px;
	border: 3px solid #4CAF50;
}
.e-visual .do .caption {
	background: #4CAF50;
}
.e-visual .dont {
	margin-left: 5px;
	border: 3px solid #F44336;
}
.e-visual .dont .caption {
	background: #F44336;
}

.prettyprint ol.linenums li {
	border-left-color: #EFEFEF;
}
.prettyprint ol.linenums > *:nth-of-type(even) {
	background: #F9F9F9;
}

pre .q-hightlight {
	margin: 0 -3px;
	padding: 0 3px;
	background: rgba(0, 185, 200, .1);
	border: 1px solid #00BCD4;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
pre .q-hightlight.q-first {
	margin-left: 0;
}
pre .q-hightlight.q-last {
	margin-right: 0;
}
pre .q-hightlight.notice {
	background: rgba(255, 190, 5, .1);
	border: 1px solid #FFC107;
}
pre .through {
	background: rgba(255, 85, 35, .05);
	border-color: #FF5722;
	position: relative;
}
pre .through:before {
	content: "";
	opacity: .15;
	margin: auto;
	background: repeating-linear-gradient(-45deg, #FF5722, #FF5722 2px, #FEFEFE 2px, #FEFEFE 4px);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
pre .q-underline {
	margin: 0 -1px;
	padding: 0 1px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: inset 0 -1px #F44336;
	-moz-box-shadow: inset 0 -1px #F44336;
	-webkit-box-shadow: inset 0 -1px #F44336;
}
pre .q-comment {
	margin: 0 5px;
	color: #4CAF50;
}

ul.square {
	list-style: square outside;
}

.list-pad li {
	margin: 3px 0;
}