/*
 * FCMailer - 2017
 * Documentation
 *
 * StyleName:		main.responsive.css
 * Version: 3.0
 *
 * FC-Dev team
 * http://foodconnection.jp/
 *
 * Email:		trung.styles@gmail.com
 *
 */

.wrap {
	transition: max-width .3s ease;
	-moz-transition: max-width .3s ease;
	-webkit-transition: max-width .3s ease;
}
@media screen and (max-width: 1010px) {
	.wrap {
		max-width: 95%;
	}
}